/* Footer
-------------------------------------------------- */
.footer {
  padding: 1em 2em 8em;
  font-size: .8em;
  border-top: medium solid $colour-accent;
}
.copyright {
  float: left;
}
.colophon {
  float: right;
}
.colophon a b {
  color: $colour-link;
  padding-left: .25em;
}