/* Footer
-------------------------------------------------- */
.footer {
  padding: 2em 2em 8em;
  font-size: .8em;
  border-top: thick solid $colour-accent;
  text-align: center;

  @media screen and (min-width: 40em) {
    padding: 2em 2em 10em;
  }
  .copyright {
    @media screen and (min-width: 40em) {
      margin: 0 0 2em;
      float: left;
    }
  }
  .kirby {
    margin: 0 0 2em;

    @media screen and (min-width: 40em) {

      float: right;
    }
  }
  .kirby a b {
    color: $colour-accent;
    padding-left: .25em;
  }
  .colophon {
    display: block;
    float: none;
    clear: both;
    width: 100%;
    text-align: center;
    // border: thin solid rebeccapurple;

    table {
      width: 100%;
      margin: 0 0 1em;

      thead {
        font-weight: 800;
        text-align: left;
      }
      tr {
        display: flex;
      }
      td,
      th {
        text-align: left;
        flex: 0 0 30%;


        &:nth-child(odd) {

        }
        &:nth-child(even) {
          flex: 0 0 70%;
        }
      }
      th {
        border-top: medium solid rgba($colour-main, 0.2);
        border-bottom: thin solid rgba($colour-main, 0.3);
        padding: 0.5em 0.5em 0.2em;
      }
      tr {
        border-bottom: thin solid rgba($colour-main, 0.1);

        &:last-child {
          border-bottom: none;
        }
      }
      td {
        padding: 0.5em;
      }
    }
  }
}
