/* Header
-------------------------------------------------- */

.header {
  border-bottom: medium solid $colour-accent;
  margin-bottom: 1.5em;
}
.logo {
  display: block;
  margin-bottom: 1.5em;
}
.logo img {
  width: 2em;
}