/* LINKS */

a {
  color: $colour-link;
  text-decoration: none;
  transition: all .2s ease-in-out;
}
a:hover {
  color: $colour-link_hover;
}


.main a {
  box-shadow: inset 0 -.2rem 0 $colour-accent;
  display: inline-block;
}
.main a:hover {
  padding-left: 0.25em;
  padding-right: 0.25em;
  box-shadow: inset 0 -3.2rem 0 $yl-lt;
}