/* Main
-------------------------------------------------- */
.main {
  flex: 1;
  // display: flex;
  flex-direction: column;
  max-width: 46em;
  width: 100%;
  padding: 5em 1em 1.5em;
  margin: auto;

  @media screen and (min-width: 40em) {
    // padding: 2em 4em 1.5em;
  }

  hr {
    margin: 3em 0;
    height: 2px;
    background: $colour-accent;
    border: none;
  }
  p,
  figure,
  ul,
  ol {
    margin-bottom: 1em;
  }
}



/* Text blocks */
.text{
  ul, ol {
  margin-left: 1em;
  list-style-type: disc;
  }
  li {
    margin: .2em 0;
  }
}

/* IMAGES */

figure {
  img {
    width: 100%;
  }
  figcaption {
    font-size: .9em;
    padding: .5em 1em;
    color: rgba($colour-secondary, 0.6);
    border-bottom: thin solid currentColor;
  }
}