/* Project meta
-------------------------------------------------- */
.meta {
  margin-bottom: 1.5em;
}
.meta li {
  float: left;
  list-style: none;
  margin-right: 2em;
  color: $colour-secondary;
}
.meta li b {
  color: #000;
  padding-right: .25em;
}

@media screen and (min-width: 40em) {
  
}