/* Navigation
-------------------------------------------------- */

.menu {
  a {
  display: block;
  transition: all .2s ease-in-out;
  box-shadow: inset 0 -0.05em 0 $colour-accent;
  }
  a:hover {
    color: $colour-link_hover;
    text-decoration: none;
    box-shadow: inset 0 -0.2em 0 $colour-accent;
  }
  .active {
    color: $colour-accent;
  }
  li {
    list-style: none;
  }
  > li {
    position: relative;
  }
  > li > a {
    padding: .35em 0;
    box-shadow: inset 0 0 -0.1em $colour-accent;
  }
}


.submenu {
  position: absolute;
  z-index: 1;
  padding-bottom: 2em;
  display: none;
  overflow: hidden;
  left: 0;
  bottom: 0em;
  transition: opacity .2s ease-in-out;

  li {
    // border-bottom: 1px solid $bk-md;
  }
  a {
    padding: .5em 1.5em;
    font-size: .9em;
    color: $colour-main;
    background: $colour-accent;
    white-space: nowrap;
    opacity: 1;

    &:hover {
      background: #333;
      color: $wh-lt;
    }
  }
    
}
  
  

@media screen and (min-width: 40em) {
  .logo {
    float: left;
  }
  .menu {
    float: right;
    
    a {
      box-shadow: inset 0 0 0 $colour-accent;
    }
  }
  .menu > li {
    float: left;
  }
  .menu > li > a {
    padding: .35em 1em;
    border: 0;
  }
  .menu > li:hover .submenu {
    display: block;
  }
}