/* Project teaser
-------------------------------------------------- */
.teaser {
  list-style: none;
  display: flex;

  li {
    margin-bottom: 1.5em;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: thin solid rebeccapurple;


    @media screen and (min-width: 50em) {
      float: left;
      width: 30%;
      margin-left: 5%;
    }
    &:first-child {
      @media screen and (min-width: 50em) {
        margin-left: 0;
      }
    }
    h3 {
      a {
        &:hover {
          padding: 0;
          box-shadow: inset 0 -0.5rem 0 $yl-md;
        }
      }
    }
  }
  .read-more {
    margin-top: auto;
  }
  .project-thumb {
    box-shadow: none;

    &:hover {
      padding: 0;
      box-shadow: none;
    }
  }
}