/* Project teaser
-------------------------------------------------- */
.teaser {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (min-width: 50em) {
    flex-direction: row;
  }
  li {
    margin: 0 0 0.8em;
    padding: 1em 1em 0em;
    background-color: $wh-tr-2;
    box-shadow: 0 0 3em -0.5em $bk-tr-1;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;

    @media screen and (min-width: 50em) {
      flex: 0 0 49%;
    }
    > a {
      margin-top: auto;
    }
    h3 {
      // padding: 0 0 0em 0;
      margin-bottom: 1em;

      a {
        display: block;
        padding: 0 0 0.3em 0;

        &:hover {
          padding: 0 0 0.3em 0;
          box-shadow: inset 0 -0.5rem 0 $yl-md;
        }
      }
    }
    p {

    }
  }
  .read-more {
    margin-top: auto;
    align-self: flex-end;
    // display: inline-block;
    text-align: right;
  }
  .project-thumb {
    box-shadow: none;

    &:hover {
      padding: 0;
      box-shadow: none;
    }
  }
}