/* Project teaser
-------------------------------------------------- */
.teaser {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (min-width: 50em) {
    flex-direction: row;
  }
  li {
    margin: 0 0 1.5em;
    list-style: none;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 50em) {
      // float: left;
      width: 30%;
      // margin-left: 5%;
    }
    > a {
      margin-top: auto;
    }
    h3 {
      // padding: 0 0 0em 0;
      margin-bottom: 1em;

      a {
        display: block;
        padding: 0 0 0.3em 0;

        &:hover {
          padding: 0 0 0.3em 0;
          box-shadow: inset 0 -0.5rem 0 $yl-md;
        }
      }
    }
    p {

    }
  }
  .read-more {
    margin-top: auto;
    align-self: flex-end;
    // display: inline-block;
    text-align: right;
  }
  .project-thumb {
    box-shadow: none;
    margin-bottom: 0.5em;

    &:hover {
      padding: 0;
      box-shadow: none;
    }
  }
}