.main {
  aside {
    flex: 0 0 100%;
    border-top: thick solid $colour-accent;
    padding: 2em 0 0 0;
    margin: 2em 0 0 0;

    a {
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }
    }

    ul {
      display: flex;
      // flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .sidebar-item {
      flex: 0 0 100%;
      margin-bottom: 2em;
      padding: 1em 1em 3em;
      box-shadow: 0 0 3em -0.5em $bk-tr-1;
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: $wh-tr-2;

      @media screen and (min-width: 40em) {
        flex: 0 0 49%;
      }

      .more {
        align-self: flex-end;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0.2em 1.25em 0.1em;
        margin: 1em 0 0;
        font-size: 0.8em;
        border-top: thin solid rgba($colour-accent, 0.5);
        display: block;
        text-align: right;
        width: 100%;
        color: $colour-link;

        &:hover {
          color: $colour-link_hover;
        }
      }
      #instafeed {
        min-height: 100%;
        border: medium dotted red;
      }
    }
    li {



    }

    #pinboard_linkroll {
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: flex-start;
      // flex-direction: column;
      margin: 0 -0.5em;
      font-size: 0.889em;
      width: 100%;

    }
    .pin-item {
      // flex: 0 0 calc(100% - 1em);
      padding: 1em;
      margin: 0.5em;
      border: thin solid $bk-tr-1;
      line-height: 1.2;
      transition: all .2s ease-in-out;

      &:hover {
        background: $wh-tr-2;
      }
      br {
        display: none;
      }
      p {
        display: block;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        // flex-direction: column;
      }
    }
    .pin-title {
      display: block;
      margin-bottom: .5em;
      padding-bottom: .5em;
      flex: 0 0 100%;
    }
    .pin-description {
      font-size: 0.9em;
      margin: 0 0 0.5em 0;
      display: none;
    }
    .pin-tag {
      display: inline-block;
      border: thin solid $bk-tr-2;
      color: $bk-tr-3;
      font-size: 0.7em;
      line-height: 1;
      padding: 0.4em 0.6em;
      background-color: $wh-tr-1;
      box-shadow: inset 0 0 0 $wh-tr-1;
      float: left;
      margin: 0 0.1em 0.1em 0;
      font-weight: 400;
      flex: 0 0 10%;

      &:hover {
        color: $bk-tr-4;
        padding: 0.4em 0.6em;
        box-shadow: inset 0 -2em 0 $wh-tr-5;
      }
    }
  }
}