.main {
  aside {
    flex: 0 0 100%;
    border-top: medium solid $colour-accent;
    padding: 2em 0 0 0;
    margin: 2em 0 0 0;

    a {
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    li {
      flex: 0 0 100%;
      margin-bottom: 2em;
      padding: 1em;
      box-shadow: 0 0 3em -0.5em $bk-tr-1;
      display: flex;
      flex-direction: column;

      &:nth-child(n+2) {


        @media screen and (min-width: 40em) {
          flex: 0 0 48%;
        }
      }
      .more {
        align-self: flex-end;
      }
    }

    #pinboard_linkroll {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-direction: row;
      // align-items: flex-start;
      margin: 0 -0.5em;
      font-size: 0.889em;

    }
    .pin-item {
      flex: 0 0 calc(100% - 1em);
      padding: 1em;
      margin: 0.5em;
      border: thin solid $bk-tr-1;
      line-height: 1.2;
      // box-shadow: 0 0 3em -0.5em $bk-tr-1;

      @media screen and (min-width: 40rem) and (max-width: 60em) {
        flex: 0 0 calc(50% - 1em);
      }

      @media screen and (min-width: 60em) {
        flex: 0 0 calc(33.33333% - 1em);
      }

      br {
        display: none;
      }
    }
    .pin-title {
      display: block;
      margin-bottom: .5em;
      padding-bottom: .5em;
    }
    .pin-description {
      font-size: 0.9em;
      margin: 0 0 0.5em 0;
      display: block;


    }
    .pin-tag {
      display: inline-block;
      border: thin solid currentColor;
      color: $bk-tr-3;
      font-size: 0.7em;
      line-height: 1;
      padding: 0.4em 0.6em;
      box-shadow: inset 0 0 0 currentColor;
      float: left;
      margin: 0 0.1em 0.1em 0;

      &:hover {
        color: $bk-tr-4;
        padding: 0.4em 0.6em;
        box-shadow: inset 0 -2em 0 $bk-tr-1;
      }
    }
  }
  .twitter-timeline {

  }
}