html {
  height: 101%;
  font-family: $font-body;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 1.5em;
  max-width: 50em;
  background: $wh-lt;
  color: $bk-md;
}