html {
  font-family: $font-body;
  font-size: 62.5%;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  &::before {
    content: '';
    display: block;
    width: 100vw;
    height: 4px;
    background-color: $colour-accent;
    position: fixed;
    top: 0;
    z-index: 10;
  }
}

body {
  margin: 0 auto;
  font-size: 1.8em;
  line-height: 1.5em;
  background: $wh-md;
  color: $colour-secondary;
  display: flex;
  min-height: 100vh;
  flex-direction: column;


}

@media screen and (min-width: 40em) {

}