/* Headings
-------------------------------------------------- */
h1 {
  font-size: 1.424em;
  line-height: 1.25em;
}
h2 {
  font-size: 1.266em;
  line-height: 1.25em;
  color: $colour-accent;
}
h3 {
  font-size: 1.125em;
  line-height: 1.5em;
}
h4 {
  font-size: 1.125em;
  line-height: 1.5em;
}
h1, h2, h3, h4 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: .5em;
  color: $colour-main;
}
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}

p {

}
strong {
  font-weight: 500;
}
em {
  font-style: italic;
}
p + .highlight {
  margin: 0;
  // border: thin solid rebeccapurple;
  margin: -1.5em 0 0 0;
  padding: .3em .5em;
  display: inline-block;
}
pre {
  font-family: $font-code;
  font-size: 0.8em;
  padding: 0.8em;
  border: thin dashed $bk-tr-2;
  border-radius: .5rem;
  color: $bk-md;
  background: $wh-lt;
  // display: inline-block;
  line-height: 1.5;
}
.code-figure {

  figcaption {
    padding: 0;

    p {
      padding: 0 .8em;
      margin: 0 1em;
      font-size: .8em;
      font-weight: 300;
      color: $colour-accent;
      background: $bk-tr-5;
      display: inline-block;
      position: relative;
      top: .5em;
    }
  }

  pre {
    margin: 0 0 2rem 0;
    width: 100%;
    white-space: pre-wrap;

    code {
      white-space: pre-wrap;
    }
  }
}