/* Headings
-------------------------------------------------- */
h1 {
  font-size: 2em;
  line-height: 1.25em;
  margin-bottom: .5em;
}
h2 {
  font-size: 2em;
  line-height: 1.25em;
  margin-bottom: .5em;
  color: $colour-accent;
}
h3 {
  font-size: 1.4em;
  line-height: 1.5em;
  margin-bottom: .5em;
}
h4 {
  font-size: 1.125em;
  line-height: 1.5em;
  margin-bottom: .5em;
  color: $colour-accent;
}
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}

p {

}
strong {
  font-weight: 500;
}
em {
  font-style: italic;
}

code {
  font-family: $font-code;
  font-size: 0.9em;
  padding: 0.4rem;
  border: thin dashed $bk-tr-2;
  border-radius: .5rem;
  color: $bk-md;
  background: $wh-lt;
  display: inline-block;
  line-height: 1.3;


  
  
}
pre {
  margin: 0 0 2rem 0;
  
  code {
    padding: 1rem;
    white-space: pre-wrap;       /* css-3 */
    width: 100%;
  }
}