// FONTS

  $font-rubik:          'Rubik', sans-serif;
  $font-roboto_mono:    'Roboto Mono', monospace;

  $font-head:           $font-rubik;
  $font-body:           $font-rubik;
  $font-code:           $font-roboto_mono;


// COLOURS

  $rd-md:               #c00;
  $rd-lt:               lighten($rd-md, 10%);
  $rd-dk:               darken($rd-md, 10%);

  $yl-md:               #ffb600;
  $yl-lt:               rgba(lighten($yl-md, 20%), 0.4);
  $yl-dk:               darken($yl-md, 20%);

  $bl-md:               #3a5d76;
  $bl-lt:               lighten($bl-md, 10%);
  $bl-dk:               darken($bl-md, 10%);

  $gr-md:               #3A4200;
  $gr-lt:               lighten($gr-md, 10%);
  $gr-dk:               darken($gr-md, 10%);


  $wh-md:               #f7f7f7;
  $wh-lt:               lighten($wh-md, 10%);
  $wh-dk:               darken($wh-md, 10%);

  $wh-tr-1:             rgba($wh-lt, .1);
  $wh-tr-2:             rgba($wh-lt, .2);
  $wh-tr-3:             rgba($wh-lt, .3);
  $wh-tr-4:             rgba($wh-lt, .4);
  $wh-tr-5:             rgba($wh-lt, .5);
  $wh-tr-6:             rgba($wh-lt, .6);
  $wh-tr-7:             rgba($wh-lt, .7);
  $wh-tr-8:             rgba($wh-lt, .8);
  $wh-tr-9:             rgba($wh-lt, .9);

  $bk-md:               #333;
  $bk-lt:               lighten($bk-md, 10%);
  $bk-dk:               darken($bk-md, 10%);

  $bk-tr-1:             rgba($bk-dk, .1);
  $bk-tr-2:             rgba($bk-dk, .2);
  $bk-tr-3:             rgba($bk-dk, .3);
  $bk-tr-4:             rgba($bk-dk, .4);
  $bk-tr-5:             rgba($bk-dk, .5);
  $bk-tr-6:             rgba($bk-dk, .6);
  $bk-tr-7:             rgba($bk-dk, .7);
  $bk-tr-8:             rgba($bk-dk, .8);
  $bk-tr-9:             rgba($bk-dk, .9);

  $fb:                  #3b5998;
  $tw:                  #55acee;
  $ig:                  #3f729b;
  $go:                  #dc4e41;
  $pi:                  #bd081c;
  $li:                  #007bb6;
  $gh:                  #4183c4;
  $tu:                  #35465c;

  $colour-main:         $bl-dk;
  $colour-secondary:    $bl-md;
  $colour-accent:       $yl-md;
  $colour-link:         $bl-lt;
  $colour-link_hover:   $bl-dk;

// SPRITES

  $sprite-social:       xxx;