.social-footer a.social{
    &.cp {
      background-image: url(http://anwarchoukah.com/assets/images/icon--social__codepen.svg);
    }
    &.gh {
      background-image: url(http://anwarchoukah.com/assets/images/icon--social__github.svg);
    }
    &.ig {
      background-image: url(http://anwarchoukah.com/assets/images/icon--social__instagram.svg);
    }
    &.li {
      background-image: url(http://anwarchoukah.com/assets/images/icon--social__linkedin.svg);
    }
    &.tu {
      background-image: url(http://anwarchoukah.com/assets/images/icon--social__tumblr.svg);
    }
    &.tw {
      background-image: url(http://anwarchoukah.com/assets/images/icon--social__twitter.svg);
    }
  }




