/*

AnwarChoukah.com - powered by KirbyCMS

Author: Anwar Choukah
URL:    http://anwarchoukah.com
Email:  anwarchoukah@gmail.com


Based on:
Kirby Starterkit

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

-------------------------------------------------- */

@import "partials/variables";

@import "partials/reset";

@import "https://fonts.googleapis.com/css?family=Rubik:300,400,500,300italic,500italic|Roboto+Mono:300' rel='stylesheet";

@import "partials/fonts";

@import "partials/site";
@import "partials/original";

@import "partials/links";
@import "partials/typography";
@import "partials/meta";
@import "partials/uniform";
@import "partials/prism";

@import "partials/header";
@import "partials/navigation";
@import "partials/main";
@import "partials/sidebar";
@import "partials/pagination";
@import "partials/footer";

@import "partials/projects";

img {
    border: medium dotted red !important;
}