/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html::before {
  content: '';
  display: block;
  width: 100vw;
  height: 4px;
  background-color: #ffb600;
  position: fixed;
  top: 0;
}

body {
  margin: 0 auto;
  font-size: 1.8em;
  line-height: 1.5em;
  background: #f7f7f7;
  color: #3a5d76;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* 

AnwarChoukah.com - powered by KirbyCMS

Author: Anwar Choukah
URL:    http://anwarchoukah.com
Email:  anwarchoukah@gmail.com


Based on: 
Kirby Starterkit 

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

-------------------------------------------------- */
/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both;
}

/* Project teaser
-------------------------------------------------- */
.teaser {
  list-style: none;
}

.teaser li {
  margin-bottom: 1.5em;
  list-style: none;
}

@media screen and (min-width: 50em) {
  .teaser li {
    float: left;
    width: 30%;
    margin-left: 5%;
  }
  .teaser li:first-child {
    margin-left: 0;
  }
}

/* LINKS */
a {
  color: #4b7898;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover {
  color: #294254;
}

.main a {
  box-shadow: inset 0 -0.2rem 0 #ffb600;
  display: inline-block;
}

.main a:hover {
  padding-left: 0.25em;
  padding-right: 0.25em;
  box-shadow: inset 0 -3.2rem 0 #fff0cc;
}

.main aside a {
  color: #4b7898;
}

.main aside a:hover {
  color: #294254;
  padding-left: 0;
  padding-right: 0;
}

/* Headings
-------------------------------------------------- */
h1 {
  font-size: 1.424em;
  line-height: 1.25em;
}

h2 {
  font-size: 1.266em;
  line-height: 1.25em;
  color: #ffb600;
}

h3 {
  font-size: 1.125em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.125em;
  line-height: 1.5em;
}

h1, h2, h3, h4 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: .5em;
  color: #294254;
}

h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}

strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

code {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;
  padding: 0.4rem;
  border: thin dashed rgba(26, 26, 26, 0.2);
  border-radius: .5rem;
  color: #333;
  background: white;
  display: inline-block;
  line-height: 1.3;
}

pre {
  margin: 0 0 2rem 0;
}

pre code {
  padding: 1rem;
  white-space: pre-wrap;
  width: 100%;
}

/* Project meta
-------------------------------------------------- */
.meta {
  margin-bottom: 1.5em;
}

.meta li {
  float: left;
  list-style: none;
  margin-right: 2em;
  color: #3a5d76;
}

.meta li b {
  color: #000;
  padding-right: .25em;
}

.uniform__potty {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

form {
  width: 100%;
  color: #3a5d76;
}

label {
  display: block;
  margin-top: .5em;
}

input, textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 0.5em;
  font-size: 1em;
  -webkit-appearance: none;
  border-radius: 0;
  border: thin solid rgba(26, 26, 26, 0.2);
}

textarea {
  min-height: 8em;
  height: 8em;
  max-height: 8em;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  padding: 0.8em 3em;
  margin-top: 1em;
  color: white;
  background: #3a5d76;
  border: none;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-weight: 300;
  float: right;
}

button:hover {
  background: #294254;
}

.erroneous, .error {
  color: red;
}

.success {
  color: green;
}

/* Header
-------------------------------------------------- */
.header {
  background: rgba(255, 255, 255, 0.9);
  width: 100vw;
  padding: 0.5em 1em;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 4em -3em #3a5d76;
  border: thin solid rgba(26, 26, 26, 0.1);
}

@media screen and (min-width: 40em) {
  .header {
    padding: 1em 2em;
  }
}

.logo {
  display: block;
}

.logo img {
  width: 2em;
}

.logo .site-title {
  padding: 0.35em 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  box-shadow: inset 0 -0.2em 0 #ffb600;
}

.logo:hover .site-title {
  color: white;
  padding: 0.35em 0.8em;
  box-shadow: inset 0 -2.2em 0 #ffb600;
}

@media screen and (min-width: 40em) {
  .logo {
    float: left;
  }
  .site-title {
    padding: 0.35em 0.5em;
  }
}

/* Navigation
-------------------------------------------------- */
nav[role=navigation] {
  display: block;
}

.menu a {
  display: block;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  box-shadow: inset 0 -0.05em 0 #ffb600;
  color: #3a5d76;
}

.menu a:hover {
  color: #294254;
  text-decoration: none;
  box-shadow: inset 0 -0.2em 0 #ffb600;
}

.menu .active {
  box-shadow: inset 0 -0.2em 0 #294254;
  color: #294254;
}

.menu li {
  list-style: none;
}

.menu > li {
  position: relative;
  float: left;
}

.menu > li > a {
  margin: 0.5em 1em 0.2em 0;
  padding: 0.2em 0.2em 0em 0.2em;
  border: 0;
  color: #3a5d76;
}

@media screen and (min-width: 40em) {
  .menu > li > a {
    margin: 0.35em 0 0.1em 2em;
    padding: 0.2em 0.2em .5em;
  }
}

@media screen and (min-width: 40em) {
  .menu {
    float: right;
  }
}

.submenu {
  position: absolute;
  z-index: 1;
  padding-bottom: 2em;
  display: none;
  overflow: hidden;
  left: 0;
  bottom: 0em;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.submenu a {
  padding: .5em 1.5em;
  font-size: .9em;
  color: #294254;
  background: #ffb600;
  white-space: nowrap;
  opacity: 1;
}

.submenu a:hover {
  background: #333;
  color: white;
}

@media screen and (min-width: 50em) {
  .menu > li:hover .submenu {
    display: block;
  }
}

/* Main
-------------------------------------------------- */
.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 46em;
  width: 100%;
  padding: 1.5em 1em 1.5em;
  margin: auto;
}

@media screen and (min-width: 40em) {
  .main {
    padding: 2em 4em 1.5em;
  }
}

.main hr {
  margin: 3em 0;
  height: 2px;
  background: #ffb600;
  border: none;
}

.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1em;
}

/* Text blocks */
.text ul, .text ol {
  margin-left: 1em;
  list-style-type: disc;
}

/* IMAGES */
figure img {
  width: 100%;
}

figure figcaption {
  font-size: .9em;
  padding: .5em 1em;
  color: rgba(26, 26, 26, 0.5);
}

.main aside {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  border-top: thick solid #ffb600;
  padding: 2em 0 0 0;
  margin: 2em 0 0 0;
}

.main aside a {
  box-shadow: none;
}

.main aside a:hover {
  box-shadow: none;
}

.main aside ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main aside li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 2em;
  padding: 1em;
  box-shadow: 0 0 3em -0.5em rgba(26, 26, 26, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 40em) {
  .main aside li:nth-child(n+2) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 48%;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
}

.main aside li .more {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.main aside #pinboard_linkroll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 -0.5em;
  font-size: 0.889em;
}

.main aside .pin-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100% - 1em);
      -ms-flex: 0 0 calc(100% - 1em);
          flex: 0 0 calc(100% - 1em);
  padding: 1em;
  margin: 0.5em;
  border: thin solid rgba(26, 26, 26, 0.1);
  line-height: 1.2;
}

@media screen and (min-width: 40rem) and (max-width: 60em) {
  .main aside .pin-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(50% - 1em);
        -ms-flex: 0 0 calc(50% - 1em);
            flex: 0 0 calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .main aside .pin-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(33.33333% - 1em);
        -ms-flex: 0 0 calc(33.33333% - 1em);
            flex: 0 0 calc(33.33333% - 1em);
  }
}

.main aside .pin-item br {
  display: none;
}

.main aside .pin-title {
  display: block;
  margin-bottom: .5em;
  padding-bottom: .5em;
}

.main aside .pin-description {
  font-size: 0.9em;
  margin: 0 0 0.5em 0;
  display: block;
}

.main aside .pin-tag {
  display: inline-block;
  border: thin solid currentColor;
  color: rgba(26, 26, 26, 0.3);
  font-size: 0.7em;
  line-height: 1;
  padding: 0.4em 0.6em;
  box-shadow: inset 0 0 0 currentColor;
  float: left;
  margin: 0 0.1em 0.1em 0;
}

.main aside .pin-tag:hover {
  color: rgba(26, 26, 26, 0.4);
  padding: 0.4em 0.6em;
  box-shadow: inset 0 -2em 0 rgba(26, 26, 26, 0.1);
}

/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}

.nextprev a {
  border: 0;
}

.nextprev .prev {
  float: left;
}

.nextprev .next {
  float: right;
}

/* Footer
-------------------------------------------------- */
.footer {
  padding: 2em 2em 16em;
  font-size: .8em;
  border-top: thick solid #ffb600;
  text-align: center;
}

@media screen and (min-width: 40em) {
  .footer {
    padding: 2em 2em 10em;
  }
}

@media screen and (min-width: 40em) {
  .footer .copyright {
    float: left;
  }
}

@media screen and (min-width: 40em) {
  .footer .colophon {
    float: right;
  }
}

.footer .colophon a b {
  color: #ffb600;
  padding-left: .25em;
}
/*# sourceMappingURL=main.css.map */