/*

AnwarChoukah.com - powered by KirbyCMS

Author: Anwar Choukah
URL:    http://anwarchoukah.com
Email:  anwarchoukah@gmail.com


Based on:
Kirby Starterkit

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

-------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

img {
  display: block;
  max-width: 100%; }

html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }
  html::before {
    content: '';
    display: block;
    width: 100vw;
    height: 4px;
    background-color: #ffb600;
    position: fixed;
    top: 0;
    z-index: 10; }

body {
  margin: 0 auto;
  font-size: 1.8em;
  line-height: 1.5em;
  background: #dedede;
  color: #3a5d76;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both; }

/* LINKS */
a {
  color: #4b7898;
  text-decoration: none;
  transition: all .2s ease-in-out; }

a:hover {
  color: #294254; }

.main a {
  box-shadow: inset 0 -0.2rem 0 #ffb600;
  display: inline-block; }
  .main a:hover {
    padding-left: 0.25em;
    padding-right: 0.25em;
    box-shadow: inset 0 -3.2rem 0 #fff0cc; }
.main aside a {
  color: #4b7898; }
  .main aside a:hover {
    color: #294254;
    padding-left: 0;
    padding-right: 0; }

/* Headings
-------------------------------------------------- */
h1 {
  font-size: 1.424em;
  line-height: 1.25em; }

h2 {
  font-size: 1.266em;
  line-height: 1.25em;
  color: #ffb600; }

h3 {
  font-size: 1.125em;
  line-height: 1.25em; }

h4 {
  font-size: 1em;
  line-height: 1.1em; }

h1, h2, h3, h4 {
  font-weight: 400;
  text-transform: uppercase;
  color: #294254;
  margin-bottom: 1.5em; }

h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important; }

strong {
  font-weight: 500; }

em {
  font-style: italic; }

p + .highlight {
  margin: 0;
  margin: -1.5em 0 0 0;
  padding: .3em .5em;
  display: inline-block; }

pre {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  padding: 0.8em;
  border: thin dashed rgba(26, 26, 26, 0.2);
  border-radius: .5rem;
  color: #333;
  background: white;
  line-height: 1.5;
  white-space: pre-wrap; }

code {
  white-space: pre-wrap;
  display: inline-block;
  padding: 0.2em 0.4em;
  border: thin dashed rgba(26, 26, 26, 0.2);
  border-radius: .5rem;
  color: #333;
  background: #f7f7f7; }

.code-figure figcaption {
  padding: 0; }
  .code-figure figcaption p {
    padding: 0.3em 0.5em;
    margin: 0 1em;
    font-size: .8em;
    font-weight: 300;
    color: rgba(26, 26, 26, 0.6);
    background: #dedede;
    display: inline-block;
    position: relative;
    top: 0.7em;
    line-height: 1; }
.code-figure pre {
  width: 100%; }
  .code-figure pre code {
    border: 0;
    padding: 0;
    margin: 0; }

/* Project meta
-------------------------------------------------- */
.meta {
  margin-bottom: 1.5em; }

.meta li {
  float: left;
  list-style: none;
  margin-right: 2em;
  color: #3a5d76; }

.meta li b {
  color: #000;
  padding-right: .25em; }

.uniform__potty {
  position: absolute;
  top: -9999px;
  left: -9999px; }

form {
  width: 100%;
  color: #3a5d76; }

label {
  display: block;
  margin-top: .5em; }

input, textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 0.5em;
  font-size: 1em;
  -webkit-appearance: none;
  border-radius: 0;
  border: thin solid rgba(26, 26, 26, 0.2); }

textarea {
  min-height: 8em;
  height: 8em;
  max-height: 8em; }

button {
  appearance: none;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  padding: 0.8em 3em;
  margin-top: 1em;
  color: white;
  background: #3a5d76;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-weight: 300;
  float: right; }
  button:hover {
    background: #294254; }

.erroneous, .error {
  color: red; }

.success {
  color: green; }

/* Header
-------------------------------------------------- */
.header {
  background: rgba(255, 255, 255, 0.9);
  width: 100vw;
  padding: 0.5em 1em;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 4em -3em #3a5d76;
  border: thin solid rgba(26, 26, 26, 0.1);
  z-index: 10;
  backdrop-filter: blur(20px); }
  @media screen and (min-width: 40em) {
    .header {
      padding: 1em 2em; } }

.logo {
  display: block; }
  .logo img {
    width: 2em; }
  .logo .site-title {
    padding: 0.35em 0;
    transition: all .2s ease-in-out;
    box-shadow: inset 0 -0.2em 0 #ffb600; }
  .logo:hover .site-title {
    color: white;
    padding: 0.35em 0.8em;
    box-shadow: inset 0 -2.2em 0 #ffb600; }

@media screen and (min-width: 40em) {
  .logo {
    float: left; }

  .site-title {
    padding: 0.35em 0.5em; } }
/* Navigation
-------------------------------------------------- */
nav[role=navigation] {
  display: block; }

.menu a {
  display: block;
  transition: all .2s ease-in-out;
  box-shadow: inset 0 -0.05em 0 #ffb600;
  color: #3a5d76; }
.menu a:hover {
  color: #294254;
  text-decoration: none;
  box-shadow: inset 0 -0.2em 0 #ffb600; }
.menu .active {
  box-shadow: inset 0 -0.2em 0 #294254;
  color: #294254;
  font-weight: 400; }
  .menu .active:hover {
    box-shadow: inset 0 -0.2em 0 #294254; }
.menu li {
  list-style: none; }
.menu > li {
  position: relative;
  float: left; }
.menu > li > a {
  margin: 0.5em 1em 0.2em 0;
  padding: 0.2em 0.2em 0em 0.2em;
  border: 0;
  color: #3a5d76; }
  @media screen and (min-width: 40em) {
    .menu > li > a {
      margin: 0.35em 0 0.1em 2em;
      padding: 0.2em 0.2em .5em; } }
@media screen and (min-width: 40em) {
  .menu {
    float: right; } }

.submenu {
  position: absolute;
  z-index: 1;
  padding-bottom: 2em;
  display: none;
  overflow: hidden;
  left: 0;
  bottom: 0em;
  transition: opacity .2s ease-in-out; }
  .submenu a {
    padding: .5em 1.5em;
    font-size: .9em;
    color: #294254;
    background: #ffb600;
    white-space: nowrap;
    opacity: 1; }
    .submenu a:hover {
      background: #333;
      color: white; }

@media screen and (min-width: 50em) {
  .menu > li:hover .submenu {
    display: block; } }
/* Main
-------------------------------------------------- */
.main {
  flex: 1;
  flex-direction: column;
  max-width: 46em;
  width: 100%;
  padding: 1.5em 1em 1.5em;
  margin: auto; }
  @media screen and (min-width: 40em) {
    .main {
      padding: 2em 4em 1.5em; } }
  .main hr {
    margin: 3em 0;
    height: 2px;
    background: #ffb600;
    border: none; }
  .main p,
  .main figure,
  .main ul,
  .main ol {
    margin-bottom: 1em; }

/* Text blocks */
.text ul, .text ol {
  margin-left: 1em;
  list-style-type: disc; }

/* IMAGES */
figure img {
  width: 100%; }
figure figcaption {
  font-size: .9em;
  padding: .5em 1em;
  color: rgba(26, 26, 26, 0.5); }

.main aside {
  flex: 0 0 100%;
  border-top: thick solid #ffb600;
  padding: 2em 0 0 0;
  margin: 2em 0 0 0; }
  .main aside a {
    box-shadow: none; }
    .main aside a:hover {
      box-shadow: none; }
  .main aside ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .main aside .sidebar-item {
    flex: 0 0 100%;
    margin-bottom: 2em;
    padding: 1em 1em 3em;
    box-shadow: 0 0 3em -0.5em rgba(26, 26, 26, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2); }
    @media screen and (min-width: 40em) {
      .main aside .sidebar-item:nth-child(n+2) {
        flex: 0 0 48%; } }
    .main aside .sidebar-item .more {
      align-self: flex-end;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0.2em 1.25em 0.1em;
      margin: 1em 0 0;
      font-size: 0.8em;
      border-top: thin solid rgba(255, 182, 0, 0.5);
      display: block;
      text-align: right;
      width: 100%;
      color: #4b7898; }
      .main aside .sidebar-item .more:hover {
        color: #294254; }
  .main aside #pinboard_linkroll {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0 -0.5em;
    font-size: 0.889em; }
  .main aside .pin-item {
    flex: 0 0 calc(100% - 1em);
    padding: 1em;
    margin: 0.5em;
    border: thin solid rgba(26, 26, 26, 0.1);
    line-height: 1.2; }
    @media screen and (min-width: 40rem) and (max-width: 60em) {
      .main aside .pin-item {
        flex: 0 0 calc(50% - 1em); } }
    @media screen and (min-width: 60em) {
      .main aside .pin-item {
        flex: 0 0 calc(33.33333% - 1em); } }
    .main aside .pin-item br {
      display: none; }
  .main aside .pin-title {
    display: block;
    margin-bottom: .5em;
    padding-bottom: .5em; }
  .main aside .pin-description {
    font-size: 0.9em;
    margin: 0 0 0.5em 0;
    display: block; }
  .main aside .pin-tag {
    display: inline-block;
    border: thin solid rgba(26, 26, 26, 0.2);
    color: rgba(26, 26, 26, 0.3);
    font-size: 0.7em;
    line-height: 1;
    padding: 0.4em 0.6em;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.1);
    float: left;
    margin: 0 0.1em 0.1em 0;
    font-weight: 400; }
    .main aside .pin-tag:hover {
      color: rgba(26, 26, 26, 0.4);
      padding: 0.4em 0.6em;
      box-shadow: inset 0 -2em 0 rgba(255, 255, 255, 0.5); }

/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0; }

.nextprev a {
  border: 0; }

.nextprev .prev {
  float: left; }

.nextprev .next {
  float: right; }

/* Footer
-------------------------------------------------- */
.footer {
  padding: 2em 2em 16em;
  font-size: .8em;
  border-top: thick solid #ffb600;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .footer {
      padding: 2em 2em 10em; } }
  @media screen and (min-width: 40em) {
    .footer .copyright {
      margin: 0 0 2em;
      float: left; } }
  .footer .kirby {
    margin: 0 0 2em; }
    @media screen and (min-width: 40em) {
      .footer .kirby {
        float: right; } }
  .footer .kirby a b {
    color: #ffb600;
    padding-left: .25em; }
  .footer .colophon {
    display: block;
    float: none;
    clear: both;
    width: 100%;
    text-align: center; }
    .footer .colophon table {
      width: 100%;
      margin: 0 0 1em; }
      .footer .colophon table thead {
        font-weight: 800;
        text-align: left; }
      .footer .colophon table tr {
        display: flex; }
      .footer .colophon table td,
      .footer .colophon table th {
        text-align: left;
        flex: 0 0 20%; }
        .footer .colophon table td:nth-child(even),
        .footer .colophon table th:nth-child(even) {
          flex: 0 0 80%; }
      .footer .colophon table th {
        border-top: medium solid rgba(41, 66, 84, 0.2);
        border-bottom: thin solid rgba(41, 66, 84, 0.3);
        padding: 0.5em 0.5em 0.2em; }
      .footer .colophon table td {
        border-bottom: thin solid rgba(41, 66, 84, 0.1);
        padding: 0.5em; }

/* Project teaser
-------------------------------------------------- */
.teaser {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  @media screen and (min-width: 40em) {
    .teaser {
      flex-direction: row; } }
  .teaser li {
    margin: 0 1em 1.5em;
    list-style: none;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 50em) {
      .teaser li {
        float: left;
        width: 30%;
        margin-left: 5%; } }
    @media screen and (min-width: 50em) {
      .teaser li:first-child {
        margin-left: 0; } }
    @media screen and (min-width: 50em) {
      .teaser li:last-child {
        margin-right: 0; } }
    .teaser li h3 {
      padding: 0 0 1em 0; }
      .teaser li h3 a {
        padding: 0 0 0.3em 0; }
        .teaser li h3 a:hover {
          padding: 0 0 0.5em 0;
          box-shadow: inset 0 -0.5rem 0 #ffb600; }
  .teaser .read-more {
    margin-top: auto;
    align-self: flex-end;
    text-align: right; }
  .teaser .project-thumb {
    box-shadow: none; }
    .teaser .project-thumb:hover {
      padding: 0;
      box-shadow: none; }
